tp6_ws_client/src/conf/xml-resources/web-service-references/ws_soap1/wsdl/localhost_8080/tp6_ws_serveur/ws_soap1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_soap/" name="ws_soap1">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_soap/" schemaLocation="http://localhost:8080/tp6_ws_serveur/ws_soap1?xsd=1"/>
</xsd:schema>
</types>
<message name="cal_mnt_ttc">
<part name="parameters" element="tns:cal_mnt_ttc"/>
</message>
<message name="cal_mnt_ttcResponse">
<part name="parameters" element="tns:cal_mnt_ttcResponse"/>
</message>
<message name="afficher_vol">
<part name="parameters" element="tns:afficher_vol"/>
</message>
<message name="afficher_volResponse">
<part name="parameters" element="tns:afficher_volResponse"/>
</message>
<message name="traduction">
<part name="parameters" element="tns:traduction"/>
</message>
<message name="traductionResponse">
<part name="parameters" element="tns:traductionResponse"/>
</message>
<portType name="ws_soap1">
<operation name="cal_mnt_ttc">
<input wsam:Action="http://ws_soap/ws_soap1/cal_mnt_ttcRequest" message="tns:cal_mnt_ttc"/>
<output wsam:Action="http://ws_soap/ws_soap1/cal_mnt_ttcResponse" message="tns:cal_mnt_ttcResponse"/>
</operation>
<operation name="afficher_vol">
<input wsam:Action="http://ws_soap/ws_soap1/afficher_volRequest" message="tns:afficher_vol"/>
<output wsam:Action="http://ws_soap/ws_soap1/afficher_volResponse" message="tns:afficher_volResponse"/>
</operation>
<operation name="traduction">
<input wsam:Action="http://ws_soap/ws_soap1/traductionRequest" message="tns:traduction"/>
<output wsam:Action="http://ws_soap/ws_soap1/traductionResponse" message="tns:traductionResponse"/>
</operation>
</portType>
<binding name="ws_soap1PortBinding" type="tns:ws_soap1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cal_mnt_ttc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afficher_vol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traduction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws_soap1">
<port name="ws_soap1Port" binding="tns:ws_soap1PortBinding">
<soap:address location="http://localhost:8080/tp6_ws_serveur/ws_soap1"/>
</port>
</service>
</definitions>